node_modules/
dist/
src-tauri/target/
src-tauri/gen/
librertc-net-service/librertc-net-service.exe
LibreRTC-TUN-Test.wsb

*.log
*.tmp
*.pdb
*.exe
*.msi
*.msix

.env
.env.*
profile.json
import.txt
*.olcrtc

.DS_Store
Thumbs.db
